/* MOBILE HEADER */
.row{
  margin: 0;
}
.mobile_header {
  width: 100%;
  background-color: #037841;
  padding: 5px 0;
  position: fixed;
  z-index: 10;
}

.mobile_header .row-cols-lg-mobile_menu_header {
  align-items: center;
  margin-right: 0px;
  margin-left: 0px;
}

.mobile_header .col-1 {
  padding: 5px;
}

.mobile_header div input {
  font-size: 13px;
}

.mobile_header .input-search {
  position: relative;
  padding: 0 5px;
}

.mobile_header .col-5 svg {
  position: absolute;
  top: 5px;
  right: 12px;
  color: #adb5bd;
  font-size: 20px;
}

.mobile_header div svg {
  font-size: 18px;
  color: white;
  outline: none;
  vertical-align: middle;
}

.mobile_header .col-2 {
  text-align: center;
  line-height: 16px;
  padding: 0;
}

.mobile_header .col-2 button {
  background-color: #037841;
  border: none;
}

.mobile_header .col-2 a {
  color: white;
  font-size: 12px;
}

.div-col{
  border-left: 1px solid #00ac5b4f;
}

.b-sidebar-footer {
  position: absolute;
  top: 0;
}


.input-side-search {
  position: relative;
  padding: 0 15px;
}

.input-side-search .fa-search {
  position: absolute;
  color: #525252;
  top: 16px;
  right: 25px;
}

#sidebar-footer .b-sidebar-body nav ul li:last-child a {
  border: none;
}

#sidebar-footer .b-sidebar-body nav ul div a {
  line-height: 16px;
  font-size: 14px;
  font-weight: bold;
  color: #1d1d1d;
  width: 100%;
  padding-bottom: 18px;
  padding-left: 0;
}

#sidebar-footer .b-sidebar-body nav ul .collapse,
#sidebar-footer .b-sidebar-body nav ul .collapse ul li {
  background-color: #fff;
}

#sidebar-footer .b-sidebar-body nav ul div ul li a {
  border: none;
  font-size: 14px;
  color: #525252;
  padding: 14px 10px 14px 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 400;
}

#sidebar-footer .b-sidebar-body nav ul div ul {
  padding-left: 0;
  list-style: none;
}

#sidebar-footer .b-sidebar-body nav ul div ul li {
  padding-left: 0 !important;
  margin-left: 25px;
  margin-right: 25px;
  padding-bottom: 12px !important;
  border-bottom: 1px dashed #d9d9d9 !important;
}

#sidebar-footer .b-sidebar-body nav ul div ul li:last-child {
  border: none !important;
}
.loca .loca-parentwrapper .loca-wrapper{
  color: #fff;
  font-size: 12px;
}
.loca span:after {
  content: '';
  border-top: 4px solid #fff;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  display: inline-block;
  margin-left: 4px;
  position: relative;
  top: -1px;
}
.mobile_header_cart svg{
  margin: 0 20px;
}
.mobile_header_cart span{
  font-size: 12px;
  color: #fff;
}

/* DESKTOP HEADER */
.desktop_header{
  background-color: #008848;
  position: fixed;
  z-index: 100;
  width: 100%;
}
.desktop_logo img{
  width: 118%;
}
.desktop_header nav{
  position: fixed;
  background-color: #fff;
  top: 2%;
  border-radius: 4px 4px 0 0;
  z-index: 11;
  width: 210px;
  padding: 8px 0;
  height: 100%;
}
.desktop_header nav h3{
  color: #656565;
  font-size: 12px;
  font-weight: 600;
  padding: 10px;
  margin: 0;
}
.desktop_header nav h3 img{
  width: 12%;
}
.desktop_header nav ul li{
  margin-top: 10px;
  list-style: none;
}
.desktop_header nav ul li a
{
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  color: #1d1d1d;
  padding: 10px 12px;
}
.desktop_header nav ul li a:hover{
  color: #008848;
  text-decoration: none;
}
.desktop_header nav ul li a svg{
  position: absolute;
  right: 12px;
}
.desktop_header nav ul{
  display: block;
  border-top: 1px solid #e5e5e5;
}
.desktop_header nav ul .input-side-search{
  padding: 10px 12px;
}
.desktop_header nav ul .input-side-search input{
  color: #333;
  font-size: 12px;
}
.desktop_header nav ul .menu-side-bottom a{
  color: #1d1d1d;
  font-size: 13px;
  line-height: 30px;
  padding: 0 10px;
}
.desktop_header nav ul .menu-side-bottom a:hover{
  text-decoration: none;
}
.desktop_header nav ul .menu-side-bottom a img{
  width: 8%;
}
.desktop_loca{
  margin: 8px 0;
  background-color: #057541;
  padding: 5px;
  border-radius: 3px;
  color: #fff;
}
.desktop_loca .loca-parentwrapper{
  display: flex;
  border: none;
  background-color: #037540;
  color: #fff;
}
.desktop_loca .loca-parentwrapper .loca-wrapper{
  line-height: 15px;
  display: block;
  font-size: 11px;
  height: auto;
  padding-left: 8px;
  text-align: left;
}
.desktop_loca .loca-parentwrapper .loca-wrapper .current_locate .change{
  text-decoration: underline;
}
.desktop_header .container .mainsearch{
  position: relative;
  padding-top: 8px;
  padding-right: 0;
}
.desktop_header .container .mainsearch svg{
  position: absolute;
  top: 18px;
  right: 20px;
  color: #DBDBDB;
}
.desktop_header .container .histories{
  padding: 0 10px;
}
.desktop_header .container .histories a{
  display: inline-block;
  text-align: center;
  font-size: 12px;
  color: #fff;
  padding: 10px 5px;
}
.desktop_header .container .histories a:hover{
  text-decoration: none;
}
.desktop_header .container .desktop_header_cart{
  padding: 15px 8px;
  background-color: #037540;
}
.desktop_header .container .desktop_header_cart a{
  font-size: 11px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
}
.desktop_header .container .desktop_header_cart a:hover{
  text-decoration: none;
}
