.products_id{
  display: block;
  text-align: center;
  font-size: 15px;
}
.serch_collab{
  display: block;
  text-align: center;
  color: #008848;
  font-size: 15px;
}
.cateproduct_id{
  padding-top: 5%;
}
.buy {
  border: none;
  font-size: 14px;
  color: #222b45;
  padding-left: 5px;
  background-color: white;
  text-transform: uppercase;
}
.box-filter .col b {
  border: 1px solid #008848;
  border-radius: 5px;
  margin: 0 -11px 8px;
  height: 37px;
  width: 64px;
  cursor: pointer;
  position: relative;
  display: table;
}
.box-filter b{
  display: block;
  text-align: center;
  color: #008848;
  font-size: 10px;
}
.bv-example-row h4 {
  font-size: 15px !important;
  line-height: 16px;
  color: #222b45;
  margin-bottom: 10px;
  padding-left: 5px;
  margin-top: 10%;
}
.footer-filter{
  position: fixed;
  background: #fff;
  box-shadow: 0 -5px 10px rgb(198 218 248 / 25%);
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  padding: 10px;
  max-width: 640px;
  margin: auto;
}
.filter-apcept{
  border: 1px solid #008848;
  background: linear-gradient(
    180deg
    ,#008848 0%,#037841 100%);
  color: #fff;
  width: 60%;
  float: right;
  font-weight: 600;
}
.box-filter .col em {
  position: absolute;
  height: 100%;
  right: 14px;
  top: -4px;
  width: 100%;
}
.alert-info{
  position: absolute;
  right: -4px;
  top: -4px;
  width: 10px;
  background-color:initial;
  border: none;
}
.box-filter{}
.box-filter .col em:after {
  content: '';
  background-repeat: no-repeat;
  vertical-align: middle;
  background-size: 325px auto;
  background-position: -99px -55px;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 0;
  right: 0;
}
.boxintro {
  padding: 10px;
  background: #fff;
}
.contain-boxintro .contain-article.article {
  display: inline;
}
.boxintro .minheight {
  max-height: 80px;
  overflow: hidden;
  position: relative;
}
.boxintro .xemthem {
  font-size: 13px;
  display: block;
  text-align: center;
  color: #008945;
  background: none;
}
.boxintro .xemthem:after {
  content: '';
  width: 0;
  right: 0;
  border-top: 6px solid #008945;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  display: inline-block;
  vertical-align: middle;
  margin: -2px 0 0 5px;
}
/* croll filter */
/*.scrollfilter.fixtop {*/
/*  display: none;*/
/*}*/

.scrollfilter {
  display: none;
  position: fixed;
  top: 45px;
  z-index: 11;
  background: #fff;
  box-shadow: 0 0 9px #9c9c9c;
  width: 100%;
  max-width: 640px;
}
.scrollfilter div.more_procduct.px80 {
  width: 80px;
}

.scrollfilter div.more_procduct {
  position: absolute;
  background: #f5f8fd;
  width: 60px;
  height: 47px;
  top: 0;
  left: 0;
  z-index: 1;
  border-right: 1px solid #e4e9f2;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.scrollfilter .scroll-lst.px80 {
  padding-left: 82px;
}
.scrollfilter .scroll-lst {
  display: block;
  overflow: hidden;
  padding: 5px 7px 5px 62px;
  overflow-x: auto !important;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap !important;
  -webkit-flex-wrap: wrap !important;
  -ms-flex-wrap: wrap !important;
  flex-wrap: wrap !important;
  -ms-overflow-style: none;
  -ms-scroll-snap-type: mandatory;
  -ms-scroll-snap-points-x: snapInterval(0%,100%);
  -ms-scroll-chaining: chained;
  position: relative;
}
.scrollfilter .it {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  width: 60px;
  height: 37px;
}
.scrollfilter .it span {
  border-radius: 5px;
  color: #008945;
  margin: 7px 2px 3px;
  font-size: 12px;
  border: 1px solid #008945;
  line-height: 14px;
  width: 60px;
  height: 37px;
  max-height: 30px;
  text-align: center;
  overflow: hidden;
  display: table-cell;
  vertical-align: middle;
}
.scrollfilter .it span b {
  display: block;
  max-width: 60px;
  font-weight: normal;
  overflow: hidden;
  line-height: 14px;
  letter-spacing: -.9px;
}
/*<!--    bộ lọc tìm kiếm -->*/
.property {
  display: block;
  position: relative;
  background: #fff;
}
.property .title-cate.px80 {
  width: 80px;
}

.property .title-cate {
  text-align: center;
  padding: 4px 0;
  position: absolute;
  z-index: 1;
  background: #f5f8fd;
  width: 60px;
  height: 48px;
  margin: 0;
  border-bottom: 1px solid #e4e9f2;
  border-right: 1px solid #e4e9f2;
  display: table;
}
.property .scroll-lst {
  padding-top: 7px;
  padding-left: 85px;
  padding-right: 7px;
  overflow-x: auto !important;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap !important;
  -webkit-flex-wrap: wrap !important;
  -ms-flex-wrap: wrap !important;
  flex-wrap: wrap !important;
  -ms-overflow-style: none;
  -ms-scroll-snap-type: mandatory;
  -ms-scroll-snap-points-x: snapInterval(0%,100%);
  -ms-scroll-chaining: chained;
  display: block;
  overflow: auto;
}
.property .scroll-lst .it, .property .scroll-lst .viewmore {
  display: inline-block;
  color: #008945;
  position: relative;
  margin-left: 5px;
}
.property .scroll-lst .it h1, .property .scroll-lst .it p {
  border-radius: 5px;
  color: #008945;
  margin: 7px 2px 3px;
  font-size: 11px;
  border: 1px solid #008945;
  line-height: 14px;
  width: 60px;
  height: 37px;
  max-height: 30px;
  text-align: center;
  overflow: hidden;
  display: table-cell;
  vertical-align: middle;
}
.property .scroll-lst .it h1 b, .property .scroll-lst .it p b {
  font-weight: normal;
  max-width: 60px;
  display: block;
  letter-spacing: -.9px;
}
.property .title-cate h1 {
  color: #222b45;
  height: 30px;
  max-height: 30px;
  overflow: hidden;
  display: table-cell;
  vertical-align: middle;
}
.property .title-cate h1 b {
  width: 100%;
  display: block;
  font-weight: normal;
  max-height: 30px;
  font-size: 12px;
  line-height: 16px;
}
.manufacture {
  display: block;
  background: #fff;
  position: relative;
  box-shadow: 0 5px 10px #e9e8e8;
}
.manufacture div.more_procduct.px80 {
  width: 80px;
}
.manufacture div.more_procduct {
  position: absolute;
  background: #f5f8fd;
  width: 60px;
  height: 47px;
  z-index: 1;
  border-right: 1px solid #e4e9f2;
  text-align: center;
}
.manufacture div.more_procduct i.bhx-smanu {
  background-position: -173px -399px;
  width: 13px;
  height: 13px;

}
.manufacture div.more_procduct span {
  display: block;
  text-align: center;
  color: #008848;
  font-size: 12px;
}
.manufacture .scroll-lst.px80 {
  padding-left: 82px;
}

.manufacture .scroll-lst {
  display: block;
  overflow: hidden;
  padding-left: 62px;
  padding-right: 7px;
  overflow-x: auto !important;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap !important;
  -webkit-flex-wrap: wrap !important;
  -ms-flex-wrap: wrap !important;
  flex-wrap: wrap !important;
  -ms-overflow-style: none;
  -ms-scroll-snap-type: mandatory;
  -ms-scroll-snap-points-x: snapInterval(0%,100%);
  -ms-scroll-chaining: chained;
  position: relative;
}
.manufacture .it {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 5px 0 5px 5px;
  width: 60px;
  height: 37px;
}
.manufacture a {
  display: block;
  color: #0064c2;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 37px;
}
.manufacture a img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 4px;
}

img {
  border: 0;
  transition: all .2s ease-in-out;
}
img {
  vertical-align: middle;
  border-style: none;
}
.property .scroll-lst .viewmore {
  text-align: center;
  height: 30px;
  width: 60px;
  vertical-align: top;
}

.property .scroll-lst .it, .property .scroll-lst .viewmore {
  display: inline-block;
  color: #008945;
  position: relative;
  margin-left: 5px;
}
.property .scroll-lst .viewmore i {
  background: #008945;
  width: 13px;
  height: 13px;
  display: inline-block;
  border-radius: 50%;
  position: relative;
}
.property .scroll-lst .viewmore span {
  font-size: 12px;
  display: block;
  line-height: 10px;
}
.viewmore_procduct{
  width: 64px;
  background: #fff;
  color: #008848;
  font-size: 13px;
  display: flex;
  margin: 0 8px;
  height: 37px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #008848;
}
.b-icon.bi {
  display: none !important;
}
/*=================layout desktop ================================================*/

.groupcate_desktop {
  display: block;
  margin-bottom: 5px;
  position: relative;
}
.groupcate_desktop .list_groupfeature {
  background-color: #fff;
}
.groupcate_desktop .list_groupfeature .viewmore{
  border: none;
}
.groupcate-inline_desktop {
  padding: 7px 0;
  padding-right: 40px;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
}
.groupcate-inline_desktop .sub_desktop {
  padding: 7px 0;
  width: 10000px;
  overflow: hidden;
}

.groupcate-inline_desktop a.title-cate_desktop {
  position: relative;
  color: #288ad6;
  margin-right: 20px;
}
.groupcate-inline_desktop a {
  font-weight: bold !important;
  margin-right: 10px;
  padding: 4px;
  border-radius: 4px;
  float: left;
  text-decoration: none;
  border-radius: 5px !important;
}

.title-cate_desktop {
  text-align: left;
  color: #4a4a4a;
  padding: 10px 15px 10px;
  background: none;
  font-weight: bold;
}
a.active_desktop h1 {
  background: #008848;
  color: #fff;
  font-weight: bold !important;
  padding: 5px;
  border-radius: 5px;
  font-size: 15px;
  margin-bottom: 0;
}
.groupcate-inline_desktop a h2 {
  font-weight: bold !important;
  color: #288ad6;
  font-size: 15px;
  margin-bottom: 0;
  margin-top: 5px;
}
/*===================================================*/
.manufacture_desktop .top_desktop {
  border-radius: 4px 4px 0 0;
  border-bottom: 1px solid #e9edf0;
  margin-top: 5px;
  background: #fff;
  position: relative;
}
.manufacture_desktop {
  display: block;
  background: #fff;
  position: relative;
  padding-bottom: 1px;
  margin: 0 0 5px;
}
.manufacture_desktop .catesearch_desktop {
  float: left;
  position: relative;
  width: 181px;
  margin: 9px 4px 5px 10px;
}
.manufacture_desktop .catesearch_desktop .searchcate_desktop {
  height: 36px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0 10px;
  padding-right: 32px;
  font-size: 13px;
  width: calc(100% - 10px);
}
.manufacture_desktop .catesearch_desktop .butcatesearch_desktop {
  position: absolute;
  top: 0;
  right: 19px;
  background: none;
  border: 0;
  width: 15px;
  height: 100%;
  border-radius: 4px;
  cursor: pointer;
  color: darkgrey;
}
.manufacture_desktop ul {
  display: block;
  overflow: hidden;
  padding: 0;
}
.manufacture_desktop li {
  float: left;
  overflow: hidden;
  position: relative;
  vertical-align: top;
  padding: 5px 3px;
  width: 92px;
  height: 40px;
  margin: 9px 4px 5px 10px;
}
.manufacture_desktop a {
  display: block;
  overflow: hidden;
  color: #0064c2;
  background-color: #fff;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.manufacture_desktop a img {
  display: block;
  width: 65px;
  height: auto;
  max-height: 40px;
  margin: auto !important;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.manufacture_desktop .moremanu_desktop {
  font-size: 17px;
  color: #288ad6;
  padding: 11px 0 0;
  position: absolute;
  top: 0;
  font-weight: bold;
  right: 30px;
  cursor: pointer;
  width: 100px;
  text-align: center;
  box-sizing: border-box;
}

